logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
!.autods.conf.js

test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
app/public/dbExcel
app/public/heatMap
app/public/path
app/public/table
app/public/lostMap
